
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="intro-y flex items-center mt-6">
    <h2 class="text-3xl font-medium mr-auto">
        Indicadores
    </h2>
</div>

<!-- BEGIN: CUERPO DE VIEW -->
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
        <div class="report-box zoom-in">
            <div class="box p-5">
                <div class="flex">
                    <i data-lucide="user" class="report-box__icon text-primary"></i>

                </div>
                <div class="text-3xl font-medium leading-8 mt-6">24</div>
                <div class="text-base text-slate-500 mt-1">Promotores</div>
                <small>Los que responden asignando 9 o 10 puntos</small>
            </div>
        </div>
    </div>

    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
        <div class="report-box zoom-in">
            <div class="box p-5">
                <div class="flex">
                    <i data-lucide="user" class="report-box__icon text-primary"></i>

                </div>
                <div class="text-3xl font-medium leading-8 mt-6">12</div>
                <div class="text-base text-slate-500 mt-1">Neutros</div>
                <small>Los que asignan 7 u 8 puntos</small>
            </div>
        </div>
    </div>

    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
        <div class="report-box zoom-in">
            <div class="box p-5">
                <div class="flex">
                    <i data-lucide="user" class="report-box__icon text-primary"></i>

                </div>
                <div class="text-3xl font-medium leading-8 mt-6">12</div>
                <div class="text-base text-slate-500 mt-1">Detractores</div>
                <small>Los que otorgan 6 puntos o menos</small>
            </div>
        </div>
    </div>

    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
        <div class="report-box zoom-in">
            <div class="box p-5">
                <div class="flex">
                    <i data-lucide="user-check" class="report-box__icon text-primary"></i>

                </div>
                <div class="text-3xl font-medium leading-8 mt-6">12</div>
                <div class="text-base text-slate-500 mt-1">NPS</div>
                <small>Net Promoter Score</small>
            </div>
        </div>
    </div>

</div>
<!-- END: CUERPO DE VIEW-->

