@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<div class="block xl:grid grid-cols-2 gap-4">
    <!-- BEGIN: Login Info -->
    <div class="hidden xl:flex flex-col min-h-screen">
        <a href="" class="-intro-x flex items-center pt-5">
            <img alt="Midone - HTML Admin Template" class="w-6" src="~/images/logo.svg">
            <span class="text-white text-lg ml-3"> Softtek </span>
        </a>
        <div class="my-auto">
            <img alt="Midone - HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="~/images/illustration.svg">
            <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                Unos click's más para
                <br>
                Iniciar sesión en su cuenta.
            </div>
            <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Sistema de control comercial - Softtek</div>
        </div>
    </div>
    <!-- END: Login Info -->
    <!-- BEGIN: Login Form -->

    <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">

        <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
            <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                Iniciar Sesión
            </h2>

            <!-- Input and Submit elements -->

            <div class="intro-x mt-2 text-slate-400 xl:hidden text-center">Unos pocos click's más para iniciar sesión en su cuenta. Administre todas sus cuentas de comercio electrónico en un solo lugar</div>

            <form action="/Login/Index" method="post">
                @Html.AntiForgeryToken()
                <div class="intro-x mt-8">
                    <input type="text" class="intro-x login__input form-control py-3 px-4 block" placeholder="Usuario" name="UserName">
                    <input type="password" class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Contraseña" name="Password">
                </div>
                <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                    <button type="submit" class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Ingresar</button>
                </div>
            </form>
            <div class="intro-x mt-10 xl:mt-24 text-slate-600 dark:text-slate-500 text-center xl:text-left"> Todos los derechos reservados - Jhonatan Raul Fernandez Silva<a class="text-primary dark:text-slate-200" href="">Terms and Conditions</a> & <a class="text-primary dark:text-slate-200" href="">Privacy Policy</a> </div>
        </div>

    </div>

    <!-- END: Login Form -->
</div>
