<!DOCTYPE html>
@*@{
    if (WebSession.Usuario == null)
    {
        WebSession.Usuario = new Globokas.Web.Models.UsuarioSessionModel();
    }
}*@
<html lang="en" class="light">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Midone Admin Template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>Softtek</title>
    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
    </script>
    <!-- BEGIN: CSS Assets-->
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/custumer.css" rel="stylesheet" />
    <!-- END: CSS Assets-->
    <link href="~/css/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>
<!-- END: Head -->
<body class="py-5">
    @*@Html.Partial("_MenuMobile")*@

    <div class="flex mt-[4.7rem] md:mt-0">

        @*@Html.Partial("_MenuSide")*@

        <!-- BEGIN: Content -->
        <div class="content">

            <!-- BEGIN: Top Bar -->
            <div class="top-bar">
                <!-- BEGIN: Breadcrumb -->
                <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <!-- END: Breadcrumb -->
                <!-- BEGIN: Account Menu -->
                <div class="intro-x dropdown w-8 h-8">
                    <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in" role="button" aria-expanded="false" data-tw-toggle="dropdown">
                        <img alt="Midone - HTML Admin Template" src="~/images/profile-3.jpg">
                    </div>
                    <div class="dropdown-menu w-56">
                        <ul class="dropdown-content bg-primary text-white">
                            <li class="p-2">
                                <div class="font-medium">ADMINISTRADOR</div>
                                <div class="text-xs text-white/70 mt-0.5 dark:text-slate-500">EJEMPLO </div>
                            </li>
                            <li>
                                <hr class="dropdown-divider border-white/[0.08]">
                            </li>

                            <li>
                                <a id="Logout" href="javascript:void(0)" class="dropdown-item hover:bg-white/5"> <i data-lucide="toggle-right" class="w-4 h-4 mr-2"></i> Cerrar Sesi&oacute;n </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END: Account Menu -->
            </div>
            <!-- END: Top Bar -->
            @RenderBody()
        </div>
        <!-- END: Content -->
    </div>
    <script src="~/js/app/app.js"></script>
    <script src="~/js/jquery-3.4.1.js"></script>

    <!-- END: JS Assets-->
    <script src="~/js/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/js/viewjs/globokas.js"></script>
    <script src="~/js/webapp.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
